<% if notice %>
  <div class="alert alert-info alert-dismissible fade show mt-8 fixed-bottom" style="bottom: 108px;width: 379px;left: 59vw;" role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-warning alert-dismissible fade show mt-8" style="bottom: 108px;width: 379px;left: 59vw;" role="alert">
    <%= alert %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>
