
<div class="home">
  <div class="titreetbouton">
    <h5 class = "texthome"> Rent a car, rent a dream </h5>
    <br>
    <a class="btn btn-danger buttonhome" href="/cars" role="button">DISCOVER OUR CARS</a>
  </div>
</div>
